# My Jupyter Notebook on IBM Watson Studio
__Ancy P Jose__

Student

_I am interested in data science because data are the future._

### The following code tests the Gauss Formula

In [6]:
def gauss(n):
    return (n*(n+1))/2
gauss(100) == sum (range(101))

True

__Animals__
 * Dog
 * Cat
 * Lion
 * Horse

%%html
<style>
table {float:center}
</style>

<table style='float:center'>
     <tr>
    <th style='text-align: center:'>Laptop</th>
     <th style='text-align: left:'>rice</th>
        </tr>
        <tr>
    <td style='text-align: left:'>Apple Macbook</td>
     <td style='text-align: left:'>&dollar;1,249.59</td>
        </tr>
        <tr>
    <td style='text-align: left:'>HP Chromebook</td>
     <td style='text-align: left:'>&dollar;944.69</td>       
        </tr>
</table>